
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family:Arial, Helvetica, sans-serif;
    overflow: hidden;
    background: #fafafa;
    color: #111;
  }

  body::before {
    background: linear-gradient(-45deg, #ff8a00, #ffb347, #ffe29f, #ffd194);
    background-size: 400% 400%;
    animation: gradientMove 5s ease infinite;
  }
  
  @keyframes gradientMove {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }

  header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .title {
    font-size: 5em;
    font-weight: 1000;
    color: #e9e9e9;
  }

  .top-drip svg path {
    fill: #ff943c;
    animation: softWave 10s ease-in-out infinite;
  }

  .top-drip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: hidden;
  }
  
  @keyframes softWave {
    0% {
      d: path("M0,100 C360,80 720,100 1080,80 C1260,90 1440,100 1440,100 L1440,0 L0,0 Z");
    }
    25% {
      d: path("M0,98 C360,85 720,110 1080,90 C1260,95 1440,98 1440,98 L1440,0 L0,0 Z");
    }
    50% {
      d: path("M0,100 C360,90 720,105 1080,85 C1260,95 1440,100 1440,100 L1440,0 L0,0 Z");
    }
    75% {
      d: path("M0,99 C360,88 720,106 1080,86 C1260,96 1440,99 1440,99 L1440,0 L0,0 Z");
    }
    100% {
      d: path("M0,100 C360,80 720,100 1080,80 C1260,90 1440,100 1440,100 L1440,0 L0,0 Z");
    }
  }
  

  .hero {
    padding: 8rem 2rem;
    text-align: center;
    z-index: 5;
    position: relative;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
  }

  .hero h2 {
    font-size: 35px;
    margin-bottom: 0rem;
    color: #ffffff;
  }

  .hero p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }


  .rotating-white {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 280px;
    height: 280px;
    border-radius: 50% 45% 60% 40% / 40% 50% 45% 55%;
    animation: rotate 20s linear infinite;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    background: #fff;
    border: 4px solid #ffb347;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .rotating-white:hover {
    transform: translate(-50%, -50%) scale(1.1);
  }
  
  .qr {
    width: 180px;
    height: 180px;
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @keyframes rotate {
    from { transform: translate(-50%, -50%) rotate(0deg); }
    to { transform: translate(-50%, -50%) rotate(360deg); }
  }

  @media (max-width: 768px) {
    .qr {
      width: 140px;
      height: 140px;
    }    
  }