
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family:Arial, Helvetica, sans-serif;
    overflow: hidden;
    background: #fafafa;
    color: #111;
  }

  header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .logo img {
    width: 80px;
    height: 80px;
  }

  .title {
    font-size: 5em;
    font-weight: 700;
    letter-spacing: 10px;
  }

  .top-drip {
      
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: hidden;
  }

  .top-drip svg path {
    fill: #ff943c;
    animation: softWave 10s ease-in-out infinite;
  }

  @keyframes softWave {
    0%, 100% {
      d: path("M0,160 C480,320 960,0 1440,160 L1440,320 L0,320 Z");
    }
    50% {
      d: path("M0,140 C480,260 960,60 1440,140 L1440,320 L0,320 Z");
    }
  }

  .rotating-white {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 280px;
    height: 280px;
    background: #fff;
    border-radius: 50% 45% 60% 40% / 40% 50% 45% 55%;
    animation: rotate 20s linear infinite;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  }

  .qr {
    width: 180px;
    height: 180px;
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @keyframes rotate {
    from { transform: translate(-50%, -50%) rotate(0deg); }
    to { transform: translate(-50%, -50%) rotate(360deg); }
  }

  @media (max-width: 768px) {
    .qr {
      width: 140px;
      height: 140px;
    }
  }